body{
    font-family: sans-serif;
    background-color: lightgray;
}
h1{
    margin: auto;
  width: 22%;
  padding: 10px;
}
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    width: 100px;
    height: 100px;
    font-size: 72px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  #reset-button{
    position: relative;
    right: -113px;
    cursor: pointer;
    border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
border: none;
  }
  p{
    margin: auto;
    width: 21%;
    padding: 10px;
  }